[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
{{- $fullname := promptString "Full name" }}
{{- $email := promptString "E-Mail" }}
[data]
    fullname = {{ $fullname | quote }}
    email = {{ $email | quote }}
