URxvt*font: xft:Hack:Regular:size=11
URxvt*boldFont: xft:Hack:style=Bold:size=11
URxvt.letterSpace: -1
URxvt*termName: rxvt-unicode-256color
URxvt.scrollBar: false
URxvt.intensityStyles: false
URxvt.perl-ext:
URxvt.perl-ext-common:
