[user]
	email = {{ .email }}
	name = {{ .fullname }}
{{- if eq .chezmoi.os "linux" }}
	signingkey = 1E9149244211682E
[core]
	excludesfile = /home/semih/.gitignore_global
	autocrlf = input
[commit]
	gpgsign = true
[pull]
  rebase = true
[diff "sopsdiffer"]
	textconv = sops -d
{{- end }}
