alias e="$EDITOR"
alias ew="$VISUAL"
alias l="exa -lbagh --group-directories-first"
alias ls="exa"
alias vim="nvim"
alias kcd='kubectl config set-context $(kubectl config current-context) --namespace '
alias akacurl='curl -v -s -o /dev/null -H "accept-encoding: gzip" -H "Pragma: akamai-x-get-request-id, akamai-x-cache-on, akamai-x-cache-remote-on, akamai-x-check-cacheable, akamai-x-get-cache-key, akamai-x-get-extracted-values,akamai-x-get-nonces, akamai-x-get-ssl-client-session-id, akamai-x-get-true-cache-key, akamai-x-serial-no" '
alias ttfbcurl='curl -s -o /dev/null -w "Connect: %{time_connect} TTFB: %{time_starttransfer} Total time: %{time_total} \n" '
alias puranger="podman unshare ranger"
{{- if (eq .chezmoi.os "linux") }}
alias snip="slurp | xargs -I {} grim -g {}"
alias snipc="snip - | wl-copy"
{{- end }}

# Treat these characters as part of a word.
WORDCHARS='*?_-.[]~&;!#$%^(){}<>'

# emacs key binding
bindkey -e
bindkey "^[[3~" delete-char
bindkey '^[[1;5D' backward-word
bindkey '^[[1;5C' forward-word

# Regex history search
bindkey '^R' history-incremental-pattern-search-backward

ZIM_HOME=~/.zim
# Download zimfw plugin manager if missing.
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi

# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi

# Initialize modules.
source ${ZIM_HOME}/init.zsh

if [ -x /usr/bin/starship ]; then
  eval "$(starship init zsh)"
fi

