[user]
	email = {{ .email }}
	name = {{ .fullname }}
{{- if eq .chezmoi.os "linux" }}
	signingkey = 6D48A4301126191A
[core]
	excludesfile = /home/semih/.gitignore_global
	autocrlf = input
[commit]
	gpgsign = true
[diff "sopsdiffer"]
	textconv = sops -d
{{- end }}
